<img src="https://www.dropbox.com/s/l93ecugg1jbtjiw/fga.png?raw=1" width="1200" height="400">
<ul>
    <li> <b>Campus UnB Gama</b> </li>
    <li> <b>Disciplina: Processamento Digital de Sinais Financeiros</b> </li>
    <a href="https://www.linkedin.com/in/marcelino-andrade-b164b369/">
    <li> <b>Prof. Marcelino Monteiro de Andrade Dr.</b> </li>
</ul>


    Primeira (1/3) Atividade Prática Avaliativa
    Entrega da Atividade 27/07/2022 
    "A não entrega na data esperada reduz em 50% na nota da avaliação"


<div id="Tópicos">
    <h2>Questões</h2>
</div>


<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol> 
<li> Colete os preços e volumes de um conjunto de ativos durante o período de 10 (quinze) anos, pertencentes a no mínimo 5 (cinco) Índices de Segmentos e Setoriais diferentes na B3, e separe os 30 (cinquenta) ativos mais líquidos; </li><p></p>
    <li> Construa amostras de treinamento e outras de teste, sendo a primeira com os 3 (três) anos e a segunda com o último ano, e desloque as janelas anualmente (walk forward analysis); </li> <p></p>
    <li> Na amostra de treinamento, aplique uma clusterização não supervisionada (K-Means ou DBSCAN) e separe um ativo para cada clusters, com o critério que desejar (sugestão maior índice Sharpe); </li><p></p>
    <li> Aplique a Teoria do Portfolio Moderno de Markowitz nos ativos escolhidos no passo anterior, no sentido de alocar um capital de R$100.000,00; </li><p></p>
    <li> Verifique o resultado da alocação de capital com Markowitz nos ativos separados, na fase de treinamento, na amostra de teste que representa o último ano da aquisição e compare com o índice Bovespa; </li><p></p>
    <li> Descreva suas impressores relativas ao processo, baseado em números, e resultados encontrados. </li>
</ol>
</div>

### Questão 1:

In [13]:
# !pip install pandas yfinance tqdm seaborn ipywidgets
import pandas as pd
#import investpy
import yfinance as yf
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
from dateutil.relativedelta import relativedelta

In [15]:
end_date = dt.date.today()
start_date = end_date  - relativedelta(years=10)

print(f'start_date = {start_date}')
print(f'end_date = {end_date}')

start_date = 2012-07-19
end_date = 2022-07-19

In [23]:
financial_assets = list([])

with open('financial_assets.txt', 'r', encoding='utf-8') as file:
    for line in file.readlines():
        financial_assets.append(line.rstrip('\n') + '.SA')

df = pd.DataFrame(financial_assets, columns=['ATIVOS'])

df.tail()

      ATIVOS
30  BRFS3.SA
31  JBSS3.SA
32  CCRO3.SA
33  RAIL3.SA
34  CMIN3.SA

In [49]:
def filter_financial_assets(financial_assets: list = []) -> list:
    """
    Filter for 30 financial assets with greater volume 
    """
    # Download in yahoo finance
    list_pandas_data_frame: list = []
    
    for financial_asset in financial_assets:
        list_pandas_data_frame.append(yf.download(financial_asset, start=str(start_date), end=str(end_date))) 
        
    # Get values of volume columns
    list_volumes: list = []
    list_prices: list = []
    
    for financial_asset_df in list_pandas_data_frame:
        list_volumes.append(sum(financial_asset_df['Volume'].tolist()))
    
    # For debug, object key = ativo value = somatorio_do_volume
    financial_asset_and_volume = dict(zip(financial_assets, list_volumes))
    
    # Get 30 greater ativos with greater volumes
    list_30_financial_asset_greater_volumes: list =[]
    list_volume_for_filter = list_volumes.copy()
    
    for i in range(30):
        max_volume = max(list_volume_for_filter)
        list_30_financial_asset_greater_volumes.append(financial_assets[list_volume_for_filter.index(max_volume)])
        list_volume_for_filter.remove(max_volume)
    
    # Get 30 ativos with price and volume
    list_financial_asset_with_price_and_volume: list = []
    columns_ignored = ['Open','Low', 'High','Close']
    
    for i in range(len(list_30_financial_asset_greater_volumes)):
        list_financial_asset_with_price_and_volume.append(yf.download(list_30_financial_asset_greater_volumes[i], start=str(start_date), end=str(end_date)).drop(columns=columns_ignored))
        
    return list_financial_asset_with_price_and_volume


# Tests filter
filter_financial_assets(financial_assets)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VVBBR3.SA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WEGW3.SA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GGMAT3.SA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[            Adj Close     Volume
 Date
 2012-07-19   0.274320   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   4.253132         0
 2012-07-20   4.253132         0
 2012-07-23   4.253132         0
 2012-07-24   4.253132         0
 2012-07-25   4.253132         0
 ...               ...       ...
 2022-07-12   2.550000  98685200
 2022-07-13   2.520000  58427500
 2022-07-14   2.480000  71903000
 2022-07-15   2.400000  64254800
 2022-07-18   2.310000  67077400

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   4.253131         0
 2012-07-20   4.253131         0
 2012-07-23   4.253131         0
 2012-07-24   4.253131         0
 2012-07-25   4.253131         0
 ...               ...       ...
 2022-07-12   2.550000  98685200
 2022-07-13   2.520000  58427500
 2022-07-14   2.480000  71903000
 2022-07-15   2.400000  64254800
 2022-07-18   2.310000  67077400

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   2.541732  24921600
 2012-07-20   2.416984  48689100
 2012-07-23   2.352383  28861800
 2012-07-24   2.392480  23746500
 2012-07-25   2.405845  18710400
 ...               ...       ...
 2022-07-12  10.540000  37587600
 2022-07-13  10.280000  64624500
 2022-07-14  10.280000  72406700
 2022-07-15  10.030000  66586300
 2022-07-18  10.270000  39197600

 [2480 rows x 2 columns],
             Adj Close     Volume
 Date
 2012-07-19   0.274320   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19    1.62114         0
 2012-07-20    1.62114         0
 2012-07-23    1.62114         0
 2012-07-24    1.62114         0
 2012-07-25    1.62114         0
 ...               ...       ...
 2022-07-12    2.40000  38062500
 2022-07-13    2.33000  29827300
 2022-07-14    2.39000  29517200
 2022-07-15    2.42000  35004600
 2022-07-18    2.41000  26943600

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   4.253131         0
 2012-07-20   4.253131         0
 2012-07-23   4.253131         0
 2012-07-24   4.253131         0
 2012-07-25   4.253131         0
 ...               ...       ...
 2022-07-12   2.550000  98685200
 2022-07-13   2.520000  58427500
 2022-07-14   2.480000  71903000
 2022-07-15   2.400000  64254800
 2022-07-18   2.310000  67077400

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19  68.916451     79955
 2012-07-20  69.539566     42825
 2012-07-23  67.857147     36125
 2012-07-24  67.794830     49055
 2012-07-25  68.293335     63661
 ...               ...       ...
 2022-07-12   0.500000  69333700
 2022-07-13   0.500000  50979500
 2022-07-14   0.500000  53527700
 2022-07-15   0.510000  34012600
 2022-07-18   0.500000  37355300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19  10.037083   7547489
 2012-07-20  10.189281   6584509
 2012-07-23   9.924937   4701680
 2012-07-24  10.013050   4111119
 2012-07-25  10.035480   4173327
 ...               ...       ...
 2022-07-12   3.980000  21281700
 2022-07-13   3.880000  30572500
 2022-07-14   4.130000  43819800
 2022-07-15   4.060000  28211200
 2022-07-18   4.180000  39378000

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   6.342085   3175000
 2012-07-20   6.069242   6046300
 2012-07-23   5.935852   4056800
 2012-07-24   5.887347   5936300
 2012-07-25   5.656945   4993200
 ...               ...       ...
 2022-07-12  14.240000  14031000
 2022-07-13  14.370000  11393700
 2022-07-14  13.450000  13499000
 2022-07-15  13.840000  13393000
 2022-07-18  14.010000   9944800

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19  10.498454   9354200
 2012-07-20  10.509006   8098800
 2012-07-23  10.313809   5095800
 2012-07-24  10.392944   4927500
 2012-07-25  10.155542   6332900
 ...               ...       ...
 2022-07-12  33.009998   7382300
 2022-07-13  32.650002  12673500
 2022-07-14  32.610001  12284300
 2022-07-15  33.279999  12272800
 2022-07-18  33.750000  10894600

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2018-04-26   5.434864  29354000
 2018-04-27   5.466100  13982500
 2018-04-30   5.397775   5555500
 2018-05-02   5.331399   6425000
 2018-05-03   5.366539  11859000
 ...               ...       ...
 2022-07-12   6.490000  51822100
 2022-07-13   6.370000  45146500
 2022-07-14   6.130000  62824200
 2022-07-15   5.810000  58691500
 2022-07-18   5.690000  44034300

 [1046 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   5.790000   1780700
 2012-07-20   5.570000   1342600
 2012-07-23   5.250000   2713100
 2012-07-24   5.310000   1801300
 2012-07-25   5.090000   2403000
 ...               ...       ...
 2022-07-12  22.240000  25122600
 2022-07-13  21.590000  17776700
 2022-07-14  20.760000  29221700
 2022-07-15  20.700001  19526400
 2022-07-18  22.090000  18982900

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   2.541732  24921600
 2012-07-20   2.416984  48689100
 2012-07-23   2.352383  28861800
 2012-07-24   2.392480  23746500
 2012-07-25   2.405845  18710400
 ...               ...       ...
 2022-07-12  10.540000  37587600
 2022-07-13  10.280000  64624500
 2022-07-14  10.280000  72406700
 2022-07-15  10.030000  66586300
 2022-07-18  10.270000  39197600

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   8.119374    701166
 2012-07-20   7.951665    439667
 2012-07-23   7.755043    925751
 2012-07-24   7.668297    707968
 2012-07-25   7.662512    721474
 ...               ...       ...
 2022-07-12  42.889999  14348800
 2022-07-13  43.189999  13745200
 2022-07-14  43.599998  11617100
 2022-07-15  44.049999  10961000
 2022-07-18  43.889999   7881500

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2020-02-06   5.139727  86956800
 2020-02-07   5.064876  12471600
 2020-02-10   5.039927  12146800
 2020-02-11   5.039927  13196000
 2020-02-12   5.469069   9556000
 ...               ...       ...
 2022-07-12   6.200000   9322500
 2022-07-13   6.130000   9823900
 2022-07-14   5.900000   6913700
 2022-07-15   5.720000   8123700
 2022-07-18   5.490000  10179600

 [606 rows x 2 columns],
             Adj Close     Volume
 Date
 2012-07-19   0.274320   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   5.929698   1022080
 2012-07-20   5.623141    714964
 2012-07-23   5.325342    896950
 2012-07-24   5.150167    925603
 2012-07-25   5.115131    718321
 ...               ...       ...
 2022-07-12  16.900000  17150100
 2022-07-13  16.660000  13105900
 2022-07-14  16.680000   9229600
 2022-07-15  16.320000   6203700
 2022-07-18  15.740000  10974600

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   2.541732  24921600
 2012-07-20   2.416984  48689100
 2012-07-23   2.352383  28861800
 2012-07-24   2.392481  23746500
 2012-07-25   2.405846  18710400
 ...               ...       ...
 2022-07-12  10.540000  37587600
 2022-07-13  10.280000  64624500
 2022-07-14  10.280000  72406700
 2022-07-15  10.030000  66586300
 2022-07-18  10.270000  39197600

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2013-12-09  13.754417   3608000
 2013-12-10  14.064004    760200
 2013-12-11  13.931324    776800
 2013-12-12  13.710194    529600
 2013-12-13  13.710194    309200
 ...               ...       ...
 2022-07-12   6.920000  13567100
 2022-07-13   6.820000  15925400
 2022-07-14   6.820000  14907100
 2022-07-15   6.510000  13882000
 2022-07-18   6.440000  15416300

 [2136 rows x 2 columns],
             Adj Close     Volume
 Date
 2012-07-19   0.274320   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2018-04-26   5.434865  29354000
 2018-04-27   5.466100  13982500
 2018-04-30   5.397775   5555500
 2018-05-02   5.331399   6425000
 2018-05-03   5.366539  11859000
 ...               ...       ...
 2022-07-12   6.490000  51822100
 2022-07-13   6.370000  45146500
 2022-07-14   6.130000  62824200
 2022-07-15   5.810000  58691500
 2022-07-18   5.690000  44034300

 [1046 rows x 2 columns],
             Adj Close     Volume
 Date
 2012-07-19   0.274320   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19    1.62114         0
 2012-07-20    1.62114         0
 2012-07-23    1.62114         0
 2012-07-24    1.62114         0
 2012-07-25    1.62114         0
 ...               ...       ...
 2022-07-12    2.40000  38062500
 2022-07-13    2.33000  29827300
 2022-07-14    2.39000  29517200
 2022-07-15    2.42000  35004600
 2022-07-18    2.41000  26943600

 [2480 rows x 2 columns],
             Adj Close     Volume
 Date
 2012-07-19   0.274319   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19   2.541731  24921600
 2012-07-20   2.416984  48689100
 2012-07-23   2.352383  28861800
 2012-07-24   2.392481  23746500
 2012-07-25   2.405846  18710400
 ...               ...       ...
 2022-07-12  10.540000  37587600
 2022-07-13  10.280000  64624500
 2022-07-14  10.280000  72406700
 2022-07-15  10.030000  66586300
 2022-07-18  10.270000  39197600

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2020-11-09   1.579895   5030400
 2020-11-10   1.631504   2643000
 2020-11-11   1.639828   2454600
 2020-11-12   1.589884   5122800
 2020-11-13   1.623181   5092200
 ...               ...       ...
 2022-07-12   1.180000  29015100
 2022-07-13   1.150000  22868000
 2022-07-14   1.110000  26931200
 2022-07-15   1.110000  47611600
 2022-07-18   1.060000  42390600

 [418 rows x 2 columns],
             Adj Close     Volume
 Date
 2012-07-19   0.274320   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns],
             Adj Close    Volume
 Date
 2012-07-19  68.916443     79955
 2012-07-20  69.539566     42825
 2012-07-23  67.857147     36125
 2012-07-24  67.794830     49055
 2012-07-25  68.293335     63661
 ...               ...       ...
 2022-07-12   0.500000  69333700
 2022-07-13   0.500000  50979500
 2022-07-14   0.500000  53527700
 2022-07-15   0.510000  34012600
 2022-07-18   0.500000  37355300

 [2480 rows x 2 columns],
             Adj Close     Volume
 Date
 2012-07-19   0.274320   39366400
 2012-07-20   0.274602    5481600
 2012-07-23   0.272064    6700800
 2012-07-24   0.260505    6281600
 2012-07-25   0.259378    6953600
 ...               ...        ...
 2022-07-12   2.930000  328802300
 2022-07-13   2.830000  287592000
 2022-07-14   2.910000  188592000
 2022-07-15   2.780000  154730100
 2022-07-18   2.770000  196656300

 [2480 rows x 2 columns]]

### Questão 2:

### Questão 3:

### Questão 4:

### Questão 5:

### Questão 6: