<img src="https://www.dropbox.com/s/l93ecugg1jbtjiw/fga.png?raw=1" width="1200" height="400">
<ul>
    <li> <b>Campus UnB Gama</b> </li>
    <li> <b>Disciplina: Processamento Digital de Sinais Financeiros</b> </li>
    <a href="https://www.linkedin.com/in/marcelino-andrade-b164b369/">
    <li> <b>Prof. Marcelino Monteiro de Andrade Dr.</b> </li>
</ul>


    Primeira (1/3) Atividade Prática Avaliativa
    Entrega da Atividade 27/07/2022 
    "A não entrega na data esperada reduz em 50% na nota da avaliação"


<div id="Tópicos">
    <h2>Questões</h2>
</div>


<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol> 
<li> Colete os preços e volumes de um conjunto de ativos durante o período de 10 (quinze) anos, pertencentes a no mínimo 5 (cinco) Índices de Segmentos e Setoriais diferentes na B3, e separe os 30 (cinquenta) ativos mais líquidos; </li><p></p>
    <li> Construa amostras de treinamento e outras de teste, sendo a primeira com os 3 (três) anos e a segunda com o último ano, e desloque as janelas anualmente (walk forward analysis); </li> <p></p>
    <li> Na amostra de treinamento, aplique uma clusterização não supervisionada (K-Means ou DBSCAN) e separe um ativo para cada clusters, com o critério que desejar (sugestão maior índice Sharpe); </li><p></p>
    <li> Aplique a Teoria do Portfolio Moderno de Markowitz nos ativos escolhidos no passo anterior, no sentido de alocar um capital de R$100.000,00; </li><p></p>
    <li> Verifique o resultado da alocação de capital com Markowitz nos ativos separados, na fase de treinamento, na amostra de teste que representa o último ano da aquisição e compare com o índice Bovespa; </li><p></p>
    <li> Descreva suas impressores relativas ao processo, baseado em números, e resultados encontrados. </li>
</ol>
</div>

### Questão 1:

In [2]:
# !pip install pandas yfinance tqdm seaborn ipywidgets
import pandas as pd
#import investpy
import yfinance as yf
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
from dateutil.relativedelta import relativedelta

In [3]:
end_date = dt.date.today()
start_date = end_date  - relativedelta(years=10)

print(f'start_date = {start_date}')
print(f'end_date = {end_date}')

start_date = 2012-07-27
end_date = 2022-07-27

In [4]:
financial_assets = list([])

with open('financial_assets.txt', 'r', encoding='utf-8') as file:
    for line in file.readlines():
        financial_assets.append(line.rstrip('\n') + '.SA')

df = pd.DataFrame(financial_assets, columns=['ATIVOS'])

df.tail()

      ATIVOS
30  BRFS3.SA
31  JBSS3.SA
32  CCRO3.SA
33  RAIL3.SA
34  CMIN3.SA

In [5]:
def filter_financial_assets(financial_assets: list = []) -> list:
    """
    Filter for 30 financial assets with greater volume 
    """
    # Download in yahoo finance
    list_pandas_data_frame: list = []
    
    for financial_asset in financial_assets:
        list_pandas_data_frame.append(yf.download(financial_asset, start=str(start_date), end=str(end_date))) 
        
    # Get values of volume columns
    list_volumes: list = []
    list_prices: list = []
    
    for financial_asset_df in list_pandas_data_frame:
        list_volumes.append(sum(financial_asset_df['Volume'].tolist()))
    
    # For debug, object key = ativo value = somatorio_do_volume
    financial_asset_and_volume = dict(zip(financial_assets, list_volumes))
    
    # Get 30 greater ativos with greater volumes
    list_30_financial_asset_greater_volumes: list =[]
    list_volume_for_filter = list_volumes.copy()
    
    for i in range(30):
        max_volume = max(list_volume_for_filter)
        list_30_financial_asset_greater_volumes.append(financial_assets[list_volume_for_filter.index(max_volume)])
        list_volume_for_filter.remove(max_volume)
    
    # Get 30 ativos with price and volume
    list_financial_asset_with_price_and_volume: list = []
    columns_ignored = ['Open','Low', 'High','Adj Close']
    
    for i in range(len(list_30_financial_asset_greater_volumes)):
        list_financial_asset_with_price_and_volume.append(yf.download(list_30_financial_asset_greater_volumes[i], start=str(start_date), end=str(end_date)).drop(columns=columns_ignored))
        
    return list_financial_asset_with_price_and_volume


# Tests filter
filter_financial_assets(financial_assets)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VVBBR3.SA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WEGW3.SA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GGMAT3.SA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[               Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2012-07-27   4.55         0
 2012-07-30   4.55         0
 2012-07-31   4.55         0
 2012-08-01   4.55         0
 2012-08-02   4.55         0
 ...           ...       ...
 2022-07-20   2.61  82037100
 2022-07-21   2.63  49132400
 2022-07-22   2.51  47745600
 2022-07-25   2.52  32139800
 2022-07-26   2.36  40297300

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2012-07-27   4.55         0
 2012-07-30   4.55         0
 2012-07-31   4.55         0
 2012-08-01   4.55         0
 2012-08-02   4.55         0
 ...           ...       ...
 2022-07-20   2.61  82037100
 2022-07-21   2.63  49132400
 2022-07-22   2.51  47745600
 2022-07-25   2.52  32139800
 2022-07-26   2.36  40297300

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27   3.963333  52708500
 2012-07-30   3.940000  24510900
 2012-07-31   3.833333  26445600
 2012-08-01   3.886666  22296300
 2012-08-02   3.780000  23555100
 ...               ...       ...
 2022-07-20  10.540000  62025800
 2022-07-21  11.010000  54553200
 2022-07-22  10.720000  50276200
 2022-07-25  10.730000  30968000
 2022-07-26  10.730000  34753400

 [2480 rows x 2 columns],
                Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns],
                Close    Volume
 Date
 2012-07-27  1.925001         0
 2012-07-30  1.925001         0
 2012-07-31  1.750001       358
 2012-08-01  1.750001         0
 2012-08-02  1.750001         0
 ...              ...       ...
 2022-07-20  2.320000  57092300
 2022-07-21  2.300000  22280800
 2022-07-22  2.220000  22463000
 2022-07-25  2.220000  14753900
 2022-07-26  2.140000  18627100

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2012-07-27   4.55         0
 2012-07-30   4.55         0
 2012-07-31   4.55         0
 2012-08-01   4.55         0
 2012-08-02   4.55         0
 ...           ...       ...
 2022-07-20   2.61  82037100
 2022-07-21   2.63  49132400
 2022-07-22   2.51  47745600
 2022-07-25   2.52  32139800
 2022-07-26   2.36  40297300

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27  88.137093    156359
 2012-07-30  89.181900     45156
 2012-07-31  87.987831    130525
 2012-08-01  81.271202     58676
 2012-08-02  80.748802     80276
 ...               ...       ...
 2022-07-20   0.510000  26682300
 2022-07-21   0.500000  25901000
 2022-07-22   0.510000  52568900
 2022-07-25   0.500000  35735700
 2022-07-26   0.490000  29548600

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27  14.913676   9035089
 2012-07-30  14.949845   3302830
 2012-07-31  14.404899   8867128
 2012-08-01  14.477237  10250634
 2012-08-02  14.621913   9302584
 ...               ...       ...
 2022-07-20   4.100000  19052500
 2022-07-21   4.120000  14198100
 2022-07-22   4.080000  13349200
 2022-07-25   4.100000   8548300
 2022-07-26   4.140000  17614500

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2012-07-27   9.84   6044000
 2012-07-30  10.19   4666100
 2012-07-31  10.53   6239300
 2012-08-01  10.18   4793700
 2012-08-02   9.83   4982100
 ...           ...       ...
 2022-07-20  14.43   7028200
 2022-07-21  14.46   7905900
 2022-07-22  14.41  13373200
 2022-07-25  14.54   9507200
 2022-07-26  14.36   9490400

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27  21.629999  11623000
 2012-07-30  22.000000   5424200
 2012-07-31  21.799999   6850300
 2012-08-01  22.200001   6817100
 2012-08-02  22.090000   7201800
 ...               ...       ...
 2022-07-20  34.669998   9574600
 2022-07-21  34.910000   8758700
 2022-07-22  34.669998   6631000
 2022-07-25  35.200001  12172200
 2022-07-26  35.320000  11121300

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2018-04-26  5.568  29354000
 2018-04-27  5.600  13982500
 2018-04-30  5.530   5555500
 2018-05-02  5.462   6425000
 2018-05-03  5.498  11859000
 ...           ...       ...
 2022-07-20  6.060  41767800
 2022-07-21  6.090  33642800
 2022-07-22  5.950  22457100
 2022-07-25  5.800  25022000
 2022-07-26  5.500  68991300

 [1052 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27   5.010000   4406900
 2012-07-30   5.030000   2574500
 2012-07-31   4.980000   1789200
 2012-08-01   4.830000   1952400
 2012-08-02   4.880000   1940300
 ...               ...       ...
 2022-07-20  22.260000   8829000
 2022-07-21  22.840000  17698300
 2022-07-22  22.670000  10019100
 2022-07-25  23.610001  12982200
 2022-07-26  23.740000  12610200

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27   3.963333  52708500
 2012-07-30   3.940000  24510900
 2012-07-31   3.833333  26445600
 2012-08-01   3.886666  22296300
 2012-08-02   3.780000  23555100
 ...               ...       ...
 2022-07-20  10.540000  62025800
 2022-07-21  11.010000  54553200
 2022-07-22  10.720000  50276200
 2022-07-25  10.730000  30968000
 2022-07-26  10.730000  34753400

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27  13.115016         0
 2012-07-30  14.114636    494887
 2012-07-31  14.144625    878633
 2012-08-01  14.264579   1117524
 2012-08-02  13.924708    635341
 ...               ...       ...
 2022-07-20  44.369999  13536400
 2022-07-21  44.560001   6380900
 2022-07-22  44.630001   6223900
 2022-07-25  44.849998   4916600
 2022-07-26  44.650002   6151600

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2020-02-06  5.150  86956800
 2020-02-07  5.075  12471600
 2020-02-10  5.050  12146800
 2020-02-11  5.050  13196000
 2020-02-12  5.480   9556000
 ...           ...       ...
 2022-07-20  6.690  32610500
 2022-07-21  6.690  17279600
 2022-07-22  6.740  11213000
 2022-07-25  6.480  11689800
 2022-07-26  6.340   9384200

 [612 rows x 2 columns],
                Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27   6.057736   1879858
 2012-07-30   6.298974    683289
 2012-07-31   5.968389    726044
 2012-08-01   6.209626    772156
 2012-08-02   6.075606    496042
 ...               ...       ...
 2022-07-20  16.920000  13405500
 2022-07-21  16.930000   6694500
 2022-07-22  15.930000   9322100
 2022-07-25  15.570000   8901400
 2022-07-26  14.810000   6943700

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27   3.963333  52708500
 2012-07-30   3.940000  24510900
 2012-07-31   3.833333  26445600
 2012-08-01   3.886666  22296300
 2012-08-02   3.780000  23555100
 ...               ...       ...
 2022-07-20  10.540000  62025800
 2022-07-21  11.010000  54553200
 2022-07-22  10.720000  50276200
 2022-07-25  10.730000  30968000
 2022-07-26  10.730000  34753400

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2013-12-09  15.55   3608000
 2013-12-10  15.90    760200
 2013-12-11  15.75    776800
 2013-12-12  15.50    529600
 2013-12-13  15.50    309200
 ...           ...       ...
 2022-07-20   7.02  17666100
 2022-07-21   7.01   9518700
 2022-07-22   6.76  13530700
 2022-07-25   6.57  10866000
 2022-07-26   6.40   7815800

 [2142 rows x 2 columns],
                Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns],
             Close    Volume
 Date
 2018-04-26  5.568  29354000
 2018-04-27  5.600  13982500
 2018-04-30  5.530   5555500
 2018-05-02  5.462   6425000
 2018-05-03  5.498  11859000
 ...           ...       ...
 2022-07-20  6.060  41767800
 2022-07-21  6.090  33642800
 2022-07-22  5.950  22457100
 2022-07-25  5.800  25022000
 2022-07-26  5.500  68991300

 [1052 rows x 2 columns],
                Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns],
                Close    Volume
 Date
 2012-07-27  1.925001         0
 2012-07-30  1.925001         0
 2012-07-31  1.750001       358
 2012-08-01  1.750001         0
 2012-08-02  1.750001         0
 ...              ...       ...
 2022-07-20  2.320000  57092300
 2022-07-21  2.300000  22280800
 2022-07-22  2.220000  22463000
 2022-07-25  2.220000  14753900
 2022-07-26  2.140000  18627100

 [2480 rows x 2 columns],
                Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27   3.963333  52708500
 2012-07-30   3.940000  24510900
 2012-07-31   3.833333  26445600
 2012-08-01   3.886666  22296300
 2012-08-02   3.780000  23555100
 ...               ...       ...
 2022-07-20  10.540000  62025800
 2022-07-21  11.010000  54553200
 2022-07-22  10.720000  50276200
 2022-07-25  10.730000  30968000
 2022-07-26  10.730000  34753400

 [2480 rows x 2 columns],
                Close    Volume
 Date
 2020-11-09  1.581666   5030400
 2020-11-10  1.633333   2643000
 2020-11-11  1.641666   2454600
 2020-11-12  1.591666   5122800
 2020-11-13  1.625000   5092200
 ...              ...       ...
 2022-07-20  1.110000  57147800
 2022-07-21  1.110000  42499700
 2022-07-22  1.080000  32813400
 2022-07-25  1.070000  19546400
 2022-07-26  1.010000  28807100

 [424 rows x 2 columns],
                Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns],
                 Close    Volume
 Date
 2012-07-27  88.137093    156359
 2012-07-30  89.181900     45156
 2012-07-31  87.987831    130525
 2012-08-01  81.271202     58676
 2012-08-02  80.748802     80276
 ...               ...       ...
 2022-07-20   0.510000  26682300
 2022-07-21   0.500000  25901000
 2022-07-22   0.510000  52568900
 2022-07-25   0.500000  35735700
 2022-07-26   0.490000  29548600

 [2480 rows x 2 columns],
                Close     Volume
 Date
 2012-07-27  0.310937   11664000
 2012-07-30  0.315312    5849600
 2012-07-31  0.320312    7120000
 2012-08-01  0.328750   12812800
 2012-08-02  0.326875    9699200
 ...              ...        ...
 2022-07-20  3.070000  224980300
 2022-07-21  3.010000  165905300
 2022-07-22  2.860000  161429800
 2022-07-25  2.790000  129819500
 2022-07-26  2.610000  139841400

 [2480 rows x 2 columns]]

In [8]:
a = [12,546,7,7,6,8,9]
a[:4]

[12, 546, 7, 7]

### Questão 2:

### Questão 3:

### Questão 4:

### Questão 5:

### Questão 6: